@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500&display=swap");
:root {
  --a1: #5F5BFF;
  --a2:#00D6C9;
  --a3: #b83030;
  --a4: #b87715;
  --s1: #e6effb;
  --d1: #222;
  --d2: #666;
  --d3: #999;
  --l1: #F8F6F5;
  --l2: #D8D8D8;
  --l3: #D8D8D8;
  --ln: #D0C9C3; }

* {
  color: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -moz-tab-size: 1 !important;
  tab-size: 1 !important; }

html {
  color: var(--d1);
  box-sizing: border-box;
  font-size: 62.5%; }

article {
  display: flex;
  flex-direction: column;
  background: white; }
  article > header {
    flex: 0 0 6rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--ln);
    align-items: center;
    padding: 0 2rem; }
    article > header a {
      margin-right: 2rem; }

aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 24rem;
  text-align: left;
  padding: 2.4rem;
  border-right: 4px solid var(--l1);
  overflow-y: auto;
  box-sizing: border-box; }
  aside summary {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--a1); }
  aside ul {
    padding: .8rem; }
  aside li {
    padding: .4rem;
    cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--d1); }

button {
  border: 0;
  outline: 0;
  cursor: pointer; }

dl {
  display: flex;
  flex-direction: row; }

dd {
  display: block; }

li {
  list-style: none; }

main {
  display: flex;
  flex-direction: row;
  height: 100%; }

p {
  color: var(--d2);
  padding: .2rem 0; }

.markdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  text-align: left;
  padding: 2rem; }
  .markdown blockquote {
    border-left: 0.8rem solid var(--l1);
    padding-left: 1.2rem;
    margin: 1.2rem 0; }
  .markdown ul, .markdown ol {
    margin: .4rem 0; }
    .markdown ul li, .markdown ol li {
      padding: .4rem .8rem;
      position: relative;
      text-indent: 1.2rem; }
      .markdown ul li::before, .markdown ol li::before {
        position: absolute;
        height: inherit;
        text-indent: 0;
        left: 0; }
      .markdown ul li ul, .markdown ul li ol, .markdown ol li ul, .markdown ol li ol {
        padding: .4rem 1.2rem; }
  .markdown ul li::before {
    content: "•";
    content: "¶";
    color: black;
    left: .4rem; }
  .markdown ul li ul li:before {
    content: "\00BB";
    color: var(--a4); }
  .markdown ol {
    counter-reset: idx; }
    .markdown ol li {
      counter-increment: idx; }
      .markdown ol li::before {
        content: counter(idx) "."; }
  .markdown table {
    border: 1px solid var(--ln);
    border-collapse: collapse; }
    .markdown table td, .markdown table th {
      border: 1px solid var(--l2);
      padding: 0.2rem .8rem; }
  .markdown hr {
    margin-top: 2rem; }
  .markdown code {
    padding: 1.2rem 2.4rem;
    display: block;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    font-size: 1.6rem; }
    .markdown code button {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: var(--a3);
      color: black;
      -webkit-filter: invert(100%);
      filter: invert(100%);
      width: 8rem;
      height: 2.4rem;
      line-height: 2rem;
      font-size: 1.2rem;
      padding: 0;
      font-weight: bold; }
      .markdown code button:hover {
        background-color: white; }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown p, .markdown code {
    margin: .4rem; }
  .markdown h1 {
    font-size: 2.8rem;
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid var(--ln);
    color: black; }
  .markdown h1:first-of-type {
    padding-top: 0; }
  .markdown h2 {
    font-size: 2.4rem;
    padding: 1.6rem 0;
    font-weight: 400;
    color: black; }
  .markdown h3 {
    font-size: 2rem;
    padding: 1.2rem 0;
    font-weight: 500;
    color: black; }
  .markdown h4 {
    font-size: 1.4rem;
    padding: .4rem 0; }
  .markdown h5 {
    font-size: 1.2rem;
    padding: .4rem 0; }
  .markdown .a1 {
    color: var(--a1); }
  .markdown .a2 {
    color: var(--a2); }
  .markdown .a3 {
    color: var(--a3); }
  .markdown strong {
    color: var(--a3);
    font-size: inherit;
    font-weight: bold;
    line-height: inherit; }
  .markdown em {
    color: var(--a4); }
  .markdown img {
    object-fit: cover;
    width: 100%; }
  .markdown a {
    font-weight: bold;
    color: var(--a1);
    padding: 0 .4rem; }
  .markdown p, .markdown td, .markdown li {
    color: var(--d2); }
  .markdown p {
    line-height: 2.4rem; }

.content-pane {
  flex: 1;
  display: flex;
  flex-direction: row; }
  .content-pane .code-pane {
    flex: 1;
    background-color: white;
    padding-right: 10vw;
    padding-bottom: 10vh;
    overflow-y: auto; }

.pops {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  transition: all .1s; }
  .pops:not(:empty) {
    pointer-events: all;
    backdrop-filter: blur(0.5rem);
    z-index: 65535; }
  .pops .pop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
    perspective: 100rem; }
    .pops .pop.active {
      opacity: 1;
      pointer-events: all;
      transition-duration: .2s; }
      .pops .pop.active .window {
        transform: translateZ(0) rotateX(0);
        opacity: 1; }
    .pops .pop .dismiss {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
    .pops .pop .window {
      position: relative;
      z-index: 1;
      background-color: white;
      border-radius: 1rem;
      transition: all 0.3s cubic-bezier(0.17, 0.67, 0.49, 1.14);
      transition-duration: inherit;
      opacity: 0;
      max-width: calc(100vw - 4rem);
      max-height: calc(100vh - 4rem);
      transform: translateZ(-100rem) rotateX(-60deg); }
      .pops .pop .window .content {
        overflow-y: auto;
        overflow-x: hidden;
        max-width: calc(100vw - 7.2rem);
        max-height: calc(100vh - 7.2rem);
        margin: 1.6rem; }
        .pops .pop .window .content header {
          border-bottom: 1px solid var(--ln);
          margin-bottom: 1.2rem;
          padding: .8rem 0; }
          .pops .pop .window .content header h2 {
            font-size: 1.8rem;
            font-weight: normal;
            margin-bottom: 1.2rem; }
        .pops .pop .window .content footer {
          border-top: 1px solid var(--ln);
          margin-top: 2rem;
          padding-top: 2rem;
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          .pops .pop .window .content footer > button:not(:first-child) {
            margin-left: 1rem; }
          .pops .pop .window .content footer .buttons {
            margin-top: 1.2rem; }
      .pops .pop .window > .close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        font-size: 1.4rem;
        color: #999;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        border: solid 1px rgba(0, 0, 0, 0.5);
        transform: translate(33%, -33%);
        font-weight: bold;
        z-index: 100; }
        .pops .pop .window > .close:hover {
          color: var(--themeColor); }
      .pops .pop .window[name='confirm'] .content .confirm {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .pops .pop .window[name='confirm'] .content .confirm > *:not(:first-child) {
          margin-top: 1rem; }
        .pops .pop .window[name='confirm'] .content .confirm span {
          align-self: stretch;
          padding-bottom: 1rem;
          border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
